# Dependencies
node_modules/

# Build output
dist/

# Bundle output (for distribution to other package managers)
bundle-standalone/
bundle-executables/
binary/


# IDE and editor files
/.vscode/


# Environment variables
/.env

# Unimportant docs file (only for me)
docs/marketing-strategy.md
docs/suggested-commands.md
docs/COMMAND-IMPLEMENTATION-PLAN.md
docs/subscription-opinion.md

./vendor/
